* {
	box-sizing: border-box;
}

.board {
	height: 298px;
	width: 298px;
	margin: 0 auto;
    font-size: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
   
}

.board div {
	height: 99px;
	width: 99px;
	display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.red {
	background-color: crimson;
}

.blue {
	background-color: cornflowerblue;
}