body{
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin:0;
}

#roundInfo{
    text-align: center;
   padding:3%;
}

.scores{
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    height: 100vh;
   justify-content: center;
    align-items: center;
}

.board {
	height: 298px;
	width: 298px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-size: 0;
   
   
}

.board div {
	height: 99px;
	width: 99px;
	display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.red {
	background-color: crimson;
}

.blue {
	background-color: cornflowerblue;
}